.todoList {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #911bf2 #ededed;
}

.todoList::-webkit-scrollbar {
    width: 6px;
}

.todoList::-webkit-scrollbar-thumb {
    background-color: #911bf2;
    border-radius: 3px;
}

.todoList::-webkit-scrollbar-track {
    background-color: #ededed;
    border-radius: 3px;
}