.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ededed;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.todo.marked {
    background-color: #52bd64;
}

.todo:hover {
    transition: all 0.5s;
}

.todo .task {
    word-wrap: break-word;
    max-width: 70%;
}

.todo.marked .task {
    color: #fffefe;
    text-decoration: line-through solid #fffefe;
}

.todo .buttons-container {
    padding: 0;
    margin: 0;
}

.todo .buttons-container>button {
    padding: 6px;
    margin: 4px;
    background-color: #374151;
    border: 0;
    border-radius: 6px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.todo .buttons-container .icon {
    color: #fff;
    font-size: 1.4em;
    width: 100%;
    height: 100%;
}