.todoList {
    max-height: 400px;
    overflow-y: auto;
}

.todoList::-webkit-scrollbar-track {
    opacity: 0;
}

.todoList::-webkit-scrollbar {
    width: 4px;
    opacity: 0;
}

.todoList::-webkit-scrollbar-thumb {
    background-color: #911bf2
}