.todoCounterWrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todoCounterWrapper button {
    padding: 6px;
    background-color: #911bf2;
    color: rgb(243, 243, 243);
    border: 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    border-radius: 4px;
}